In [4]:
import pandas as pd
aa= pd.read_csv("avis.csv",sep='|',encoding='utf-8')

para este analisis he seleccionado las siguientes columnas:

    pais -ubicacion

    operadora-aerolinea o empresa a cargo de la aeronave

    abordo - total de personas a bordo

    pasajeros - total pasajeros en el vuelo

    tripulantes - total tripulantes

    bajas - total bajas en el vuelo

    bajas pasajeros - total bajas de pasajeros unicamente

    bajas tripulantes - total bajas de tripulantes unicamente

    bajas tierra - bajas ocasionadas en tierra

    descripcion -un breve mensaje testificado del accidente

    año - año del suceso

    mes - mes correspondiente al año del suceso.

In [5]:
aa

,pais,operadora,abordo,pasajeros,tripulantes,bajas,bajas_pasajeros,bajas_tripulacion,bajas_tierra,Descripcion,año,mes
0,other,Military US Army,2,1.0,1.0,1,1.0,0.0,0.0,During a demonstration flight a US Army flyer ...,1908,9
1,France,NaN,1,0.0,1.0,1,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...,1909,9
2,other,Military US Navy,5,0.0,5.0,5,0.0,5.0,0.0,First US dirigible Akron exploded just offshor...,1912,7
3,Canada,Private,1,0.0,1.0,1,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...,1913,8
4,other,Military German Navy,20,NaN,NaN,14,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...,1913,9
...,...,...,...,...,...,...,...,...,...,...,...,...
4986,other,Soloy Helicopters,6,5.0,1.0,5,4.0,1.0,0.0,The sightseeing helicopter crashed after missi...,2021,3
4987,Nigeria,Military Nigerian Air Force,11,7.0,4.0,11,7.0,4.0,0.0,While on final approach in poor weather condit...,2021,5
4988,Myanmar,Military Myanmar Air Force,14,12.0,2.0,12,11.0,1.0,0.0,The plane was carrying military personnel and ...,2021,6
4989,Philippines,Military Philippine Air Force,96,88.0,8.0,50,NaN,NaN,3.0,While attempting to land at Jolo Airport the m...,2021,7
4990,Russia,Kamchatka Aviation Enterprise,28,22.0,6.0,28,22.0,6.0,0.0,The passenger plane crashed into the top of a ...,2021,7