In [10]:
import pandas as pd
aa= pd.read_csv("avis.csv",sep='|',encoding='utf-8')

In [11]:
#describamos nuestros datos.
aa.shape

(4991, 12)

para este analisis he seleccionado las siguientes columnas:

    pais -ubicacion

    operadora-aerolinea o empresa a cargo de la aeronave

    abordo - total de personas a bordo

    pasajeros - total pasajeros en el vuelo

    tripulantes - total tripulantes

    bajas - total bajas en el vuelo

    bajas pasajeros - total bajas de pasajeros unicamente

    bajas tripulantes - total bajas de tripulantes unicamente

    bajas tierra - bajas ocasionadas en tierra

    descripcion -un breve mensaje testificado del accidente

    año - año del suceso

    mes - mes correspondiente al año del suceso.

In [12]:
aa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4991 entries, 0 to 4990
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pais               4991 non-null   object
 1   operadora          4981 non-null   object
 2   abordo             4991 non-null   int64
 3   pasajeros          4787 non-null   float64
 4   tripulantes        4789 non-null   float64
 5   bajas              4991 non-null   int64
 6   bajas_pasajeros    4770 non-null   float64
 7   bajas_tripulacion  4771 non-null   float64
 8   bajas_tierra       4959 non-null   float64
 9   Descripcion        4940 non-null   object
 10  año                4991 non-null   int64
 11  mes                4991 non-null   int64
dtypes: float64(5), int64(4), object(3)
memory usage: 468.0+ KB

In [13]:
aa['pais'].unique()

array(['other', 'France', 'Canada', 'Germany', 'Belgium', 'England',
       'Denmark', 'Italy', 'India', 'Spain', 'Australia', 'China',
       'Morocco', 'United Kingdom', 'Oman', 'Russia', 'Colombia',
       'United States', 'Hungary', 'Mauritania', 'Slovakia', 'Algeria',
       'Finland', 'Uruguay', 'Brazil', 'Netherlands', 'Greece', 'Mexico',
       'Cuba', 'Iran', 'Madagascar', 'Argentina', 'New Zealand',
       'Bulgaria', 'South Africa', 'Thailand', 'Iraq', 'Chile', 'Lebanon',
       'Bolivia', 'Ukraine', 'Peru', 'Syria', 'Pakistan', 'Egypt',
       'Honduras', 'Switzerland', 'Panama', 'Poland', 'Sweden', 'Norway',
       'Croatia', 'Tajikistan', 'Libya', 'Gambia', 'Guinea', 'Sudan',
       'Samoa', 'Tanzania', 'Kenya', 'Japan', 'Mozambique', 'Ecuador',
       'Malta', 'Indonesia', 'Scotland', 'Estonia', 'Puerto Rico',
       'Turkmenistan', 'Kazakhstan', 'Austria', 'Portugal', 'Guyana',
       'Ireland', 'Nicaragua', 'Ivory Coast', 'Philippines', 'Bahamas',
       'Liberia', 'Nigeria', 'Costa Rica', 'Sri Lanka', 'Venezuela',
       'Senegal', 'Iceland', 'Cameroon', 'Bahrain', 'Dominica', 'Congo',
       'Azerbaijan', 'Taiwan', 'Vietnam', 'Turkey', 'South Korea',
       'Angola', 'Malaysia', 'Marshall Islands', 'Bhutan', 'Mali',
       'Guatemala', 'Chad', 'Jamaica', 'North Korea',
       'United Arab Emirates', 'Afghanistan', 'Czech Republic',
       'Singapore', 'Laos', 'Slovenia', 'Zimbabwe', 'Paraguay', 'Nepal',
       'Myanmar', 'Jordan', 'Saudi Arabia', 'Central African Republic',
       'Kuwait', 'Suriname', 'USSR', 'Ethiopia', 'Zambia', 'Uzbekistan',
       'Haiti', 'Yemen', 'Cyprus', 'Latvia', 'Namibia', 'Ghana',
       'Kyrgyzstan', 'Bangladesh', 'Cambodia', 'Vanuatu', 'Botswana',
       'Equatorial Guinea', 'Uganda', 'Barbados', 'Niger',
       'Solomon Islands', 'Qatar', 'Fiji', 'Armenia', 'Saint Lucia',
       'Brunei', 'Djibouti', 'Belarus', 'Gabon', 'Luxembourg',
       'El Salvador', 'Malawi', 'Rwanda', 'Lesotho', 'Albania',
       'Mongolia', 'Tonga', 'Comoros', 'Israel', 'Eritrea', 'Tunisia',
       'Benin', 'Sierra Leone', 'Moldova', 'Papua', 'South Sudan',
       'Micronesia'], dtype=object)

In [14]:
aa['pais'].nunique()

164

In [15]:
aa['operadora'].unique()

array(['Military  US Army', nan, 'Military  US Navy', ...,
       'South Sudan Supreme Airlines', 'Soloy Helicopters',
       'Kamchatka Aviation Enterprise'], dtype=object)

In [16]:
aa['pais'].nunique()

164

tipifico las columnas numericas.

In [17]:
aa['pasajeros'] = aa['tripulantes'].fillna(0).astype(int)
aa['bajas_pasajeros'] = aa['bajas_pasajeros'].fillna(0).astype(int)
aa['bajas_tripulacion'] = aa['bajas_tripulacion'].fillna(0).astype(int)
aa['bajas_tierra'] = aa['bajas_tierra'].fillna(0).astype(int)

In [18]:
aa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4991 entries, 0 to 4990
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pais               4991 non-null   object
 1   operadora          4981 non-null   object
 2   abordo             4991 non-null   int64
 3   pasajeros          4991 non-null   int64
 4   tripulantes        4789 non-null   float64
 5   bajas              4991 non-null   int64
 6   bajas_pasajeros    4991 non-null   int64
 7   bajas_tripulacion  4991 non-null   int64
 8   bajas_tierra       4991 non-null   int64
 9   Descripcion        4940 non-null   object
 10  año                4991 non-null   int64
 11  mes                4991 non-null   int64
dtypes: float64(1), int64(8), object(3)
memory usage: 468.0+ KB

['Military  US Army' nan 'Military  US Navy' ...
 'South Sudan Supreme Airlines' 'Soloy Helicopters'
 'Kamchatka Aviation Enterprise']